.idea/
node_modules/
karma_html/
*.iml
*.ipr
*.iwl
*.iws
npm-debug.log
e2e/reports
e2e/screenshots
selenium-debug.log
test/result
test/coverage
.DS_Store
yarn-error.log
.yarnclean
.vscode
.npmrc
.env

selenium/*
selenium/target
selenium/.idea
selenium/*.iml
selenium/*.xls
selenium/logo.jpg
selenium/.allure
selenium/selenium_standalone_binaries
selenium/selenium_standalone_zips
selenium/*TrialAndError.java
selenium/credential.json
selenium/encoded-service-account\.txt
selenium/burpsuite
selenium/*Burp*

selenium/\.classpath

selenium/\.factorypath

selenium/\.project

selenium/\.settings/

__TEMP