.page {
    padding: $gp * 2 $gp * 2 $gp * 4;

    @media($small) {
        padding: $gp $gp $gp * 2;
    }

    > h1:first-child {
        margin-bottom: $gp;
    }
}

.invisible {
    visibility: hidden;
}
