h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-family;
    font-weight: $font-weight-headlines;
    margin: 0;
}

body,
table,
input,
textarea,
keygen,
select {
    color: $color-text;
    font-family: $font-family;
    font-size: $font-size-small;
}

h1 {
    font-size: $font-size-mega;
}

h2 {
    font-size: $font-size-jumbo;
}

h3 {
    font-size: $font-size-huge;
}

h4 {
    font-size: $font-size-xlg;
}

h5 {
    font-size: $font-size-lg;
}

h6 {
    font-size: $font-size-med;
}

h4.sub-h {
    font-size: $font-size-small;
}

p {
    line-height: $line-height-med;
    margin: 0 0 $gp;

    @media($small) {
        line-height: $line-height-lg;
    }
}

a {
    cursor: pointer;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }

    &,
    &:visited,
    &:hover,
    &:active {
        color: $color-link;
    }

    &[disabled] {
        color: $color-link-disabled;

        &:hover {
            text-decoration: none;
        }
    }
}

i {
    font-size: $font-size-icons;
    font-style: italic;
}

.bold {
    font-weight: $font-weight-bold;
}

.semibold {
    font-weight: $font-weight-semibold;
}

.light {
    font-weight: $font-weight-light;
}

.number {
    font-size: $font-size-mega;
    font-weight: $font-weight-light;
    color: var(--number-color, #{$color-primary});

    &.large {
        font-size: $font-size-large-number;
    }

    &.small {
        font-size: $font-size-huge;
    }
}

.table-number {
    font-family: $font-table-number;
    font-size: $font-size-sm;
    color: $color-font-primary;
    @include text-align-end;
}

.clickable:hover {
    cursor: pointer;
}

.status {
    color: $color-gray-80;
    font-size: $font-size-small;
    font-style: italic;
}

label {
    font-weight: $font-weight-semibold;
    @include text-align-start;
    font-size: $font-size-small;
    display: inline-flex;
}

hr {
    border: 0;
    border-bottom: 1px solid $color-gray-light;
    margin: $gp * 3 0;
}

li.bullet {
    @include padding-start($gp * 1.5);

    font-size: $font-size-small;
    line-height: $line-height-med;
    position: relative;
    margin-bottom: $gp;

    &:before {
        @include position(absolute 0 auto auto 0);

        content: "\2022";
        font-size: $font-size-xlg;
        line-height: 1;
    }

    @media($small) {
        line-height: $line-height-lg;
    }
}
